<h1>You have been registered, Just one step away from an awesome experience</h1>
<form action="/login" method="post">
    <label for="username">Email:</label><br>
    <input type="email" name="username" placeholder="Email" value='<%=username%>' required><br>
    <label for="password">Password:</label><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <input type="submit" value="Login"><br>
</form>